:root {
  --images-column-count: 3;

  @media (max-width: 480px) {
    --images-column-count: 1;
  }
}

h1 {
  margin: 1rem 0;
}

.search {
  input {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
