:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

.index.route {
  header {
    padding: 1rem;

    h1 {
      display: flex;
      align-items: center;
      color: #ddd;
      margin: 0 0 1rem 0;

      img {
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .search {
      input {
        border-radius: 1rem;
        background-color: #ddd;
        width: 100%;
        font-size: 1.25rem;
        padding: 1rem;
      }
    }
  }

  .image.list {
    column-count: 3;

    @media (max-width: 480px) {
      column-count: 1;
    }

    column-gap: 0;

    dialog {
      width: 100vw;
      height: 100dvh;
      position: fixed;
      top: 0;
      left: 0;
      border: none;
      background: #111;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    figure {
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      break-inside: avoid;

      img {
        width: 100%;
      }
    }
  }
}
